@font-face {
  font-family: 'phon';
  src: url('fonts/phon/sov_phon-webfont.woff2') format('woff2'),
       url('fonts/phon/sov_phon-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'espressa';
  src: url('fonts/espressa/ACEspressa.woff2') format('woff2'),
      url('fonts/espressa/ACEspressa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rebel';
  src: url('fonts/rebel/FCRebelRegular.woff2') format('woff2'),
       url('fonts/rebel/FCRebelRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(43, 42, 42);
  margin: 0px;
}

#text-input {
  font-size: 0.85em;
  height: 39px;
  max-width: 100%;
  width: 100%;
}
  
canvas {
  width: 100%;
  border: solid rgb(31, 31, 31) 0.5px;
  margin-bottom: 22px;
}
  
input.border {
  border: none;
}

#download-btn {
  height: 35px;
  font-size: 0.7em;
  font-weight: bold;
  margin-bottom: 45px;
}

.side-container {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 250px;
}

.upper-part {
  padding: 0px 26px 20px 26px;
}

.middle-part {
  display: flex;
  flex-direction: column;
  background-color: rgb(35, 35, 35);
  padding-left: 26px;
  padding-right: 26px;
  padding-top: 38px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lower-part {
  display: flex;
  gap: 26px;
  padding-bottom: 26px;
}

.side-container input {
  margin-bottom: 25px;
  margin-top: 10px;
}

.side-container input[type="color"] {
  align-self: center;
  margin: 0px;
}

label {
  color: white;
}

.disclaimer, .credit {
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.269);
  line-height: 1.35;
  margin-bottom: 30px;
}

.credit {
  color: rgba(255, 255, 255, 0.123);
}

.font-selector {
  margin-bottom: 29px;
  display: flex;
  gap: 26px;
}

#fonts {
  width: 100%;
}

@media (min-width: 1520px) {
  body {
    margin: 50px;
  }
  .side-container {
    margin-left: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-self: flex-start;
  }

  .middle-part {
    box-shadow: none;
  }

  canvas {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 102%;
  }

  .upper-part {
    padding-top: 26px;
  }

  #download-btn {
    margin-bottom: 27px;
  }
}

@media (max-width: 440px) {
  .side-container {
    max-width: 100%;
  }
}

